img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 3px;
}
.nv-file-over {
  border: dotted 3px red;
}
input[type="file"] {
  color: transparent;
}
img{
  border: 2px solid white;
  display: inline;
  border-radius: 50%;
}