<div class="text-center">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>
<hr>

<div class="container" style="margin-top: 100px;">

  <div class="row mt-3">
    <form #form="ngForm" (submit)="getUsers()" class="form-inline" novalidate>
      <div class="form-group" style="margin-right: 10px;">
        <label class="filter-level" for="minAge">Age From</label>
        <input type="number" class="form-control" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge"
          name="minAge">
      </div>

      <div class="form-group" style="margin-right: 10px;">
        <label class="filter-level" for="maxAge">Age To</label>
        <input type="number" class="form-control" style="width: 70px" id="maxAge" [(ngModel)]="userParams.maxAge"
          name="maxAge">
      </div>

      <div class="form-group" style="margin-right: 10px;">
        <label class="filter-level" for="gender">Show: </label>
        <select class="form-control" style="width: 130px" id="gender" [(ngModel)]="userParams.gender" name="gender">
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{gender.display}}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
      <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Reset Filter</button>
    </form>

    <div class="pull-right">
      <label style="margin-right: 10px">Order By: </label>
      <div class="btn-group">
        <button type="button" name="orderBy" class="btn btn-primary" [value]="" [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive" (click)="getUsers()">Last Active</button>
        <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" btnRadio="created"
          (click)="getUsers()">Newest Members</button>
      </div>
    </div>
  </div>
  <br>


  <div class="row mt-3">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6 ">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>