<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{user.photoUrl || 'assets/images/user.png'}}" alt="{{user.knownAs}}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-ite">
        <button [routerLink]="['/members/', user.id]" class="btn btn-primary m-1"><i class="fa fa-user"></i></button>
        <button (click)="sendLike(user.id)" class="btn btn-primary m-1"><i class="fa fa-heart"></i></button>
        <button class="btn btn-primary m-1" [routerLink]="['/members/', user.id]" [queryParams]="{tab: 3}"><i
            class="fa fa-envelope"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user"></i> {{user.knownAs? user.knownAs:user.userName}}, {{user.age}}
    </h6>
    <div class="card-text text-muted text-center">{{user.city}}</div>
  </div>
</div>