<div class="container" style="margin-top: 80px;">
  <div class="row">
    <h1 class="col-md-4">Your Profile</h1>
    <div class="col-md-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Information!</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{photoUrl || 'assets/images/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <button form="editForm" [disabled]="!editForm.dirty" class="btn btn-success btn-block">Save Changes</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form id="editForm" #editForm="ngForm" (ngSubmit)="onSubmit()">
              <h4>Description</h4>
              <textarea name="introduction" [(ngModel)]="user.introduction" rows="6" class="form-control mb-2"></textarea>
              <h4>Looking For</h4>
              <textarea name="lookingFor" [(ngModel)]="user.lookingFor" rows="6" class="form-control mb-2"></textarea>
              <h4>Interests</h4>
              <textarea name="interests" [(ngModel)]="user.interests" rows="6" class="form-control mb-2"></textarea>
              <h4>Location Details:</h4>
              <div class="form-inline">
                <label for="city" class="mr-1">City</label>
                <input type="text" class="form-control mr-2" name="city" [(ngModel)]="user.city">
                <label for="country" class="mr-1">Country</label>
                <input type="text" class="form-control mr-2" name="country" [(ngModel)]="user.country">
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor [photos]="user.photos"
              (getMainPhotoUrlForUser)="updateUserMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
