<div class="container" style="margin-top: 100px;" *ngIf="!registerMode">
  <h1 style="text-align: center;">Find Your Match</h1>
  <p class="lead text-center">Come on in to view your matches...All you need to do is sign up!</p>
  <hr>
  <div class="text-center">
    <button class="btn btn-success mr-2" (click)="register()">Register</button>
    <button class="btn btn-info">Learn More</button>
  </div>
</div>
<div class="container mt-2" *ngIf="registerMode">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <app-register (cancelRegisterMode)="onCancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>
