<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container" routerLinkActive="active">
    <a class="navbar-brand" [routerLink]="['/home']" >Friends APP</a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
  
    <div dropdown class="dropdown" *ngIf="loggedIn()">
      <span class="mr-1">
        <img src="{{photoUrl || 'assets/images/user.png'}}" alt="user photo">
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodeToken?.unique_name | titlecase}}
      </a>
  
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['member-edit']"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
  
    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" name="userName" [(ngModel)]="model.userName" required
        placeholder="UserName">
      <input class="form-control mr-sm-2" type="password" name="password" [(ngModel)]="model.password" required
        placeholder="Password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
